<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300212162135-oamvj5alj22nvi5k85ue7ro7rc1kqn8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300212162135-oamvj5alj22nvi5k85ue7ro7rc1kqn8q</string>
	<key>API_KEY</key>
	<string>AIzaSyCXNOxQnt9sMpMcucZzhe46cSFXz-hmAGc</string>
	<key>GCM_SENDER_ID</key>
	<string>300212162135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edo.dog-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>dogsell-6de08</string>
	<key>STORAGE_BUCKET</key>
	<string>dogsell-6de08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300212162135:ios:75f6d6858a12ef1e519d12</string>
</dict>
</plist>